# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Pytest cache
.pytest_cache/

# Package/build files
*.egg-info/
build/
dist/

# Jupyter
.ipynb_checkpoints/

# OS/editor files
.DS_Store
Thumbs.db
.vscode/

# Large/generated result files
results/**/*.csv
results/**/*.pkl
results/**/*.npy